<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TableComparator_v_2._0.Properties.Settings.ConnectionString"
            connectionString="server=localhost;User Id=root;password=root;Persist Security Info=True;database=world3"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>